@page "/ChartsCumulative"
@using OrderBookClientHW.Components

<PageTitle>BTC/EUR</PageTitle>
<h3>BTC/EUR</h3>
<div style="display: flex; ">
    <div style="width: 50%">
        <ChartBidCumulative/>
    </div>
    <div style="width: 50%">
        <ChartAskCumulative/>
    </div>
</div>

@code {
    
}