@page "/"
@using OrderBookClientHW.Components

<PageTitle>BTC/EUR</PageTitle>
<h3>BTC/EUR</h3>
<div style="display: flex; ">
    <div style="width: 50%">
        <ChartBidAmount/>
    </div>
    <div style="width: 50%">
        <ChartAskAmount/>
        </div>
</div>
<div>
    <MarketOrderCounterAsk/>
</div>
<div>
    <MarketOrderCounterBid/>
</div>

@code {
    // I was trying to concat bids and asks in one chart to show depth.
    // But there is issue, current chart library have some sorting which I can not turn off, so it looks not good with the data.
    // Thank you for understanding.
}